{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block page_title %}Strava API Authorization {{ import }}{{ block.super }}{% endblock page_title %}

{% block css %}
    {{ block.super }}
{% endblock %}
{% block extra_scripts %}
    {{ block.super }}
{% endblock %}

{% block main_content %}

    <div id="about" class="section wb">
      <div class="container">
        <div class="row">
          <div class="col-md-6" style="padding-top: 40px;">

            <h2>Authorize with Strava</h2>
            <p>
              <span class="data_field_label">
                <a href="{{ authorization_url }}"><img style="width:193px" src="/static/ui/images/connect_with_strava_btn.svg"></a>
              </span>
            </p>

          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end section -->

{% endblock main_content %}
